{{define "block"}}
      <div>
        <ul>
          <li><strong>Data :{{.Data}}</strong></li>
          <li><strong>Hash :{{.Hash}}</strong></li>
          {{if .PrevHash}}
            <li><strong>PrevHash :{{.PrevHash}}</strong></li>
          {{end}}
        </ul>
      </div> 
      <hr/>
{{ end }}